
@{
    ViewData["Title"] = "Example";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Example</title>

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="" width="32" height="32" class="d-inline-block align-top" alt="">Karatayev Olzhas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" href="/">Main</a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Message", "ShowMessage", "Messages", new { message = "This message is not empty." }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("10+5", "Sum", "Calculator", new { firstNumber = 10, secondNumber = 5 }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("10+23", "Sum", "Calculator", new { firstNumber = 10, secondNumber = 23 }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("50/10", "Divide", "Calculator", new { firstNumber = 50, secondNumber = 10 }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })
                </li>
            </ul>

        </div>

    </nav>

    <div class="container pt-5 pb-5" style="min-height: 800px;">
        @RenderBody()
    </div>

    <div class="fixed-bottom">
        <footer class="footer pt-3 pb-2 bg-light">
            <div class="container">
                <span class="text-muted">2020 &#9400; <a style="text-decoration: none;" href="/">Karatayev Olzhas</a></span>
            </div>
        </footer>
    </div>
</body>
</html>



